* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contener {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#input {
    margin-top: 30px;
    border: none;
    height: 100px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    font: 400;
    font-size: 1.7rem;
    padding-left: 20px;
}

body {
    background-color: bisque;
}

#output {
    margin-top: 30px;
    margin-left: 20px;
    border: none;
    height: 100px;
    width: 300px;
    border-radius: 15px;
    font: 400;
    font-size: 1.7rem;
    padding-left: 20px;
}