* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', ;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    /* border: 2px solid black; */
    padding: 20px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.504);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#input-id {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 10px;
    padding: 10px;
}

#qr-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    background-color: #2ecc71;
    color: white;
}

#qr-img {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}