* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contener {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    text-align: center;
}

.heading {
    border-radius: 8px 8px 0 0;
    background-color: blue;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 350px;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.output {
    margin-bottom: 10px;
    font-size: 1.5rem;
}